<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="rating" content="General">
  <link rel="stylesheet" href="../styles/basic.css">
  <title>Order</title>
</head>
<body class="img">
<p align="middle">
    <font size="12" color="#7fffd4" face="Arial">
      <b>  Create Order </b>
    </font>
</p>

<div align="center" class="usn">
    <font size="5"  >
        <p>Username</p>
    </font>
<input type="text" id="username"  name="username" required/>
    <font size="5"  >
        <p>Route id</p>
    </font>
<input type="text" id="route_id" name="Route id" required/>
    <font size="5"  >
<p>Price</p>
    </font>
<input type="text" id="price" name="price" required/>
    <font size="5"  >
<p>Date</p>
    </font>
<input type="date" id="date" name="date"/>
    <font size="5"  >
    <p>Order Type</p>
    </font>

    <form>
        <p>
            <select name="order_type" id="ortp" >

                <option  value="PASS">
                        PASS
                </option>
                <option value="CARGO">
                    CARGO
                </option>

        </select></p>

    </form>
<button id="fv" @click="createOrder">
    <font size="5"  >
    CREATE
    </font>
</button>
</div>

<div id="app" align="center" style="margin-top: 30%">
  <bullshit-form
          v-for="(n, i) in items"
          v-model="n.data"
          @del="items.splice(i, 1)"
  ></bullshit-form>
  <div align="center">
    <button @click="addItem">
        <font size="5"  >
        addPass
        </font>
    </button>
  </div>
</div>

<div id="car" align="center" style="margin-top: 1%">
    <bullshit-form
            v-for="(n, i) in cargo"
            v-model="n.data"
            @del="cargo.splice(i, 1)"
    ></bullshit-form>
    <div>
        <button @click="addCargo">
            <font size="5"  >
            addCargo
            </font>
        </button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script>
  Vue.component('bullshit-form', {
    template: `
<div class="form">
  <div v-for="(v, k) in formData">
    <font size="5"  >
    {{ k }}
    </font>
   <br> <input v-model="formData[k]">
  </div>
  <button @click="$emit('del')">
    <font size="5"  >
    delete
    </font>
  </button>
</div>`,
    props: [ 'value' ],
    computed: {
      formData() {
        return new Proxy(this.value, {
          set: (target, prop, val) => {
            this.$emit('input', { ...target, [prop]: val });
            return true;
          },
        });
      },
    },
  });
new Vue({
  el: "#fv",
  methods: {
      async createOrder() {
          var pass=v._data.items;
          var  car=carg._data.cargo;
          var reqCar="[";
var reqPass="[";
          for (let j = 0; j < car.length; j++) {
              reqCar="{"+"cargoType: "+car[j].data.cargoType+" "+car[j].data.weight+"\"\n"
                  + "},";
          }
          var resCar=reqCar.substring(0,reqCar.length-1)+"]";
          for (let i = 0; i <pass.length; i++) {
reqPass="{"+"firstname: "+pass[i].data.firstname+"\",\n"
           +"lastname: "+pass[i].data.lastname+"\",\n"
           +"passport: "+pass[i].data.passport+"\",\n"
           +"place: "+pass[i].data.place
           + "},";
          }
         var resPass=reqPass.substring(0,reqPass.length-1)+"]";
          var response = await $fetch('http://127.0.0.1:9080/graphql',
              {
                  method: 'POST',
                  body: {
                      "query": "mutation{  " +
                          "createOrder(\n" +
                          "    request: {" +
                          "login: " + document.getElementById('username').value  + "\",\n" +
                          "idPath: " + document.getElementById('route_id').value  + "\",\n" +
                          "date: " + document.getElementById('date').value + "\",\n" +
                          "price: " + document.getElementById('price').value + "\",\n" +
                          "orderType:" + document.getElementById('ortp').value + "\",\n" +
                          "passengers:"+resPass+"\",\n"+
                          "cargoDtos:"+resCar+"\"\n"+
                          "}\n" +
                          "  ) {\n" +
                          "    id\n" +
                          "}}", "variables": null,
                      "headers": + localStorage.getItem('Authorization')
                  },

              })
          var type=document.getElementById('ortp').value;
if(type.equals("CARGO") && response.data.createOrder.id>0){
    this.$router.push('/');
}else if(type.equals("PASS") && response.data.createOrder.id>0) {
    window.location='http://localhost:63342/untitled/metaservice/pages/Place.html?_ijt=5174ecj34rmbkpvad2md5clpd1';
}


      }
  }
});
 var v= new Vue({
    el: '#app',
    data: {
      items: [],
    },
    methods: {
      addItem() {
        this.items.push({
          data: {
              firstname: '',
              lastname: '',
              passport: '',
              place: '',
          },
        });
      }
    },
    created() {
      this.addItem();
    }
  });
  var carg= new Vue({
      el: '#car',
      data: {
          cargo: [],
      },
      methods: {
          addCargo() {
              this.cargo.push({
                  data: {
                     cargoType: '',
                      weight: '',
                  },
              });
          }
      },
      created() {
          this.addItem();
      }
  });
</script>

<div class="footer" style="margin-top: 10%">
    <section>
        <p>Author</p>
        <p>&copy Urazov Vadim, JAVA DEVELOPER</p>
    </section>
</div>
</body>
</html>